<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list class="list-inset" >
      <div class="item item-divider" style="line-height: 35px">
            Chores of the Day
      </div>
      <ion-item ng-repeat="values in chores | filter: {dateDue: '1'}">
        {{values.description}}
        <ion-option-button class="button-balanced"><i class="ion-ios-checkmark-outline" style="font-size: 24px"></i></ion-option-button>
        <ion-option-button class="button-assertive"><i class="ion-ios-close-outline" style="font-size: 24px"></i></ion-option-button>
      </ion-item>
    </ion-list>


    <ion-list class="list-inset">
            <div class="item item-divider" style="line-height: 35px">
                Shopping List for Today
            </div>
            <ion-item ng-repeat="values in shopList | filter: {dateDue: '1'}" >
                <span style="display: inline-block; line-height: 47px;">{{values.description}}</span>
                <i class="button button-balanced ion-checkmark-round" style="font-size: 24px; float: right;"></i>
            </ion-item>
        </ion-list>


    <a style="position: absolute;bottom: 9%;right: 9%;border-radius:55%;" ui-sref="app.addChores"   class="button button-balanced  icon ion-android-add"></a>


  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <h1 class="title">RoomScore: 12</h1>
  </div>
</ion-view>

</ion-view>
