<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list class="list-inset" >
      <div class="item item-divider">
            Today Chores
      </div>
      <ion-item >
        Chores list
        <ion-option-button class="button-balanced"><i class="ion-ios-checkmark-outline" style="font-size: 24px"></i></ion-option-button>
        <ion-option-button class="button-assertive"><i class="ion-ios-close-outline" style="font-size: 24px"></i></ion-option-button>
      </ion-item>
    </ion-list>


    <ion-list class="list-inset" >
      <div class="item item-divider">
       Shopping
      </div>
      <ion-item class="item-button-right" >
        Shopping List
        <i class="button ion-checkmark-round"></i>


      </ion-item>



    </ion-list>




  </ion-content>


  <ion-footer-bar>


      <div class="tabs-striped tabs-color-balanced">
        <div class="tabs">
      <a class="tab-item" href="#">
       Tasks
      </a>

      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-plus"></i>

      </a>
    </div>
    </div>

  </ion-footer-bar>


</ion-view>
