<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu width="150" side="left">
<!--
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
-->
      <ion-content padding="false" class="side-menu-left">
          <div  style="background-image: url('http://www.gravatar.com/avatar/{{emailHash}}?s=150'); height: 150px">
              <img ui-sref="app.profile" menu-toggle="" style="height: 150px; width: 150px;" src="http://www.gravatar.com/avatar/{{emailHash}}?s=150" />
          </div>
          <ion-list >
<!--              Dashboard-->
              <ion-item style="text-align: center; font-size: 30px;" ng-click="gotoDash()" menu-toggle=""><i class="ion-home"></i></ion-item>
<!--              Shopping-->
              <ion-item style="text-align: center; font-size: 30px;" ng-click="gotoShop()" menu-toggle=""><i class="ion-android-cart"></i></ion-item>
<!--              Chores-->
              <ion-item style="text-align: center; font-size: 30px;" ng-click="gotoChores()" menu-toggle=""><i class="ion-android-list"></i></ion-item>
<!--              About Us-->
              <ion-item style="text-align: center; font-size: 30px;" ng-click="gotoAbout()" menu-toggle=""><i class="ion-ios-information"></i></ion-item>
<!--          Sign out-->
              <ion-item style="text-align: center; font-size: 30px;" ng-click="signout()" menu-toggle=""><i class="ion-log-out"></i></ion-item>


          </ion-list>
      </ion-content>
  </ion-side-menu>
</ion-side-menus>
