<ion-modal-view>
    <ion-view view-title="Shopping List">
        <ion-content>
            
            <ion-list class="list-inset" ng-repeat="(key, values) in shopList | groupBy: 'dateDue'">
            <div class="item item-divider" style="line-height: 35px">
                {{key}}
            </div>
            <ion-item ng-repeat="value in values" >
                <span style="display: inline-block; line-height: 47px;">{{value.description}}</span>
                <i class="button button-balanced ion-checkmark-round" style="font-size: 24px; float: right;"></i>
            </ion-item>
        </ion-list>
        </ion-content>
        <div class="bar bar-footer bar-balanced">
            <h1 class="title">RoomScore: 12</h1>
        </div>
    </ion-view>
</ion-modal-view>